/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 4, 2025, 7:58:27 PM
    Author     : monts
*/

.3Img_container{
  display: grid;
  rid-template-columns: 200px 1fr 1fr; /* Sidebar, Content, Content */
    grid-template-rows: auto 1fr auto; /* Header, Content, Footer */
    grid-template-areas:
        "header header header"
        "sidebar content content"
        "footer footer footer";
}